$colors: (

    //colors named by https://chir.ag/projects/name-that-color/
  
    clr-fiord: hsl(222, 26%, 31%),
    clr-mercury: hsl(0, 0%, 90%),
    clr-very-dark-violet: hsl(268, 75%, 9%),
    clr-ebony-clay: hsl(223, 31%, 20%),
    clr-swiss-cofee: hsl(0, 5%, 81%),
    clr-dark-violet: hsl(268, 71%, 12%),
    clr-mirage: hsl(224, 36%, 15%),
    clr-gallery: hsl(0, 0%, 93%),
    clr-windsor: hsl(281, 89%, 26%),
    clr-lynch: hsl(225, 21%, 49%),
    clr-persian-red: hsl(6, 63%, 50%),
    clr-pearl-bush: hsl(30, 25%, 89%),
    clr-paradiso: hsl(185, 42%, 37%),
    clr-burnt-orange: hsl(25, 98%, 40%),
    clr-westar: hsl(45, 7%, 89%),
    clr-robins-egg-blue: hsl(176, 100%, 44%),
    clr-grape: hsl(268, 47%, 21%),
    clr-east-bay: hsl(224, 28%, 35%),
    clr-old-brick: hsl(6, 70%, 34%),
    clr-napa: hsl(28, 16%, 65%),
    clr-blumine: hsl(185, 58%, 25%),
    clr-peru-tan: hsl(25, 99%, 27%),
    clr-zorba: hsl(35, 11%, 61%),
    clr-electric-violet: hsl(285, 91%, 52%),
    clr-aquamarine: hsl(177, 92%, 70%),
    clr-seance: hsl(290, 70%, 36%),
    clr-river-bed: hsl(221, 14%, 31%),
    clr-white: hsl(0, 0, 100%),
    clr-armadillo: hsl(60, 10%, 19%),
    clr-bright-sun: hsl(52, 100%, 62%),
    clr-shark: hsl(198, 20%, 13%)

);

