@import './functions';

$theme3: (

    //backgrounds
    main-background: color(clr-very-dark-violet)
    toogle-background: color(clr-dark-violet)
    keypad-background: color(clr-dark-violet)
    screen-background: color(clr-dark-violet)

    //keys
    key-background-primary: color(clr-windsor)
    key-shadow-primary: color(clr-electric-violet)
    
    key-background-secondary: color(clr-robins-egg-blue)
    key-shadow-secondary: color(clr-aquamarine)
    
    key-background-tertiary: color(clr-grape)
    key-shadow-tertiary: color(clr-seance)

    toggle: color(clr-robins-egg-blue)
    //text
    text-primary: color(clr-bright-sun)
    text-secondary: color(clr-shark)
    text-tertiary: color(clr-white)

);